{% extends 'main/general.html' %}

{% block title %} Monthly Calendar {% endblock %}
{% block css %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles/main/calendarstyles.css' %}">
    {% endblock %}

{% block maincontent %}
<div class="main">
    <h2>{{ month_name }} {{ year_name }}</h2>
    <table class="cal" border="0">
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        {% for week in calendar %}
        <tr>
            {% for day in week %}
            <td>{{ day }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <a class="button1" href="/calendar/{{ prev_month }}"><span style='font-size:20px;'>&#9204;</span></a>
    <a class="button1" href="/calendar/{{ next_month }}"><span style='font-size:20px;'>&#9205;</span></a>
</div>
{% endblock %}
