{% extends 'main/general.html' %}
    {% block css %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles/main/indexstyles.css' %}">
    {% endblock %}

{% block title %} Google-Calendar {% endblock %}

{% load socialaccount %}
{% block maincontent %}
    <div>
        <a href="{% url 'home' %}" class="button"><h1>Home</h1></a>
        <a href="" class="button"><h1>Swagger UI</h1></a>
        <a href="{% url 'privacy' %}" class="button"><h1>Privacy</h1></a>
        <a href="{% url 'calendar' %}" class="button"><h1>Calendar</h1></a>

        <button class="btn btn-outline-info">
        <a href="{% provider_login_url 'google' %}?next=/">
            Login with Google
        </a>
        </button>

        <a href="" class="button" class="button1"><h1>Log in</h1></a>
        <a href="" class="button" class="button1"><h1>Sign up</h1></a>
    </div>
    <div>
        <h2>Google-Calendar</h2>
    </div>
{% endblock %}